/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, h1, p, a, em, img, strong, sub, center, sup, label, article, aside, canvas, footer, header, menu, nav, section, summary, audio {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/*-----------------------------*/

.container {
}

.ballEnlarge {
  -webkit-animation: enlargeBall 2s;
    /*-webkit-animation-timing-function: linear;*/
}

@-webkit-keyframes enlargeBall {
    0%  { background-color: blue;}
    25% { background-color: red;}
    50% { background-color: orange;}
    75% { background-color: yellow;}
    100% {
      left: 0;
      top: -300px;
      width: 1200px;
      height: 1200px;
      background-color: white;
    }
  }

body {
  background-repeat: no-repeat;
  -webkit-background-size: 120%;
  -moz-background-size: 110%;
  -o-background-size: 110%;
  background-size: 120%;
}

.playerShip {
  position: absolute;
  top: 90%;
  left: 10%;
  width: 150px;
  height: 20px;
  margin: 0;
  background-image: url("../images/shinyMetal.jpg");
  border-style: solid;
  border-top-color: white;
  border-bottom-color: cyan;
  border-width: 1px;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
}

.ball {
  background-color: black;
  border-style: solid;
  border-color: white;
  border-width: 2px;
  position: absolute;
  border-radius: 100%;
  box-shadow:10px 0 30px #feec85,
    -10px 0px 30px #ec760c,
    0px 10px 30px #cd4606,
    0px -10px 30px #973716;
}

.boss {
  display: block;
  position: absolute;
  z-index: 10;
  width: 15%;
  height: 18%;
  border-radius: 100%;
  background-image: url("../images/monster1.jpg");
  /*background-image: url("../images/dexter.jpg");*/
  background-repeat: no-repeat;
  background-size: 100%
}

.collidableObject {

}

.block {
  display:block;
  position: absolute;
  border-style: solid;
  border-color: gray;
  z-index: 2;
  box-shadow: inset 10px 0 20px #202020,
    inset 0 10px 20px #202020;
  box-shadow: inset 10px 10px 20px #202020;
  border-top-width:1px;
  border-top-color: black;
}

.invincible {
  background-image: url('../images/_325_1331547288.jpg');
  background-size: cover;
  box-shadow: inset  -5px -5px 8px white;
}

.congratulations {
  position:relative;
  font-size: 75px;
  z-index: 3;
  margin: 20px auto;
  text-align: center;
  color: white;
  /*top: 35%;
  left: 30%;*/
  /*text shadow below taken from http://line25.com/articles/using-css-text-shadow-to-create-cool-text-effects*/
  text-shadow: 0 0 20px #fefcc9,
    10px -10px 30px #feec85,
    -20px -20px 40px #ffae34,
    20px -40px 50px #ec760c,
    -20px -60px 60px #cd4606,
    0 -80px 70px #973716,
    10px -90px 80px #451b0e,
    -10px 10px 30px #feec85,
    20px 20px 40px #ffae34,
    -20px 40px 50px #ec760c,
    20px 60px 60px #cd4606,
    0 80px 70px #973716,
    -10px 90px 80px #451b0e
    ;
}

.pauseMessage {
  margin: 25% auto;
  font-size: 40px;
  text-align: center;
  color: brown;
  z-index: 11;
}
